@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.navbar-algotext {
  /* border-bottom-width: 2px; */
  border-radius : 0px;
  /* height: 40px; */
  background-color: #fff;
}

.navbar-algotext .navbar-brand {
  /* background-image: url('./srcs/logo.png'); */
  background-size: cover;
  width: 170px;
  height: 99px;
  line-height: 59px;
  margin-left: 0px !important;
  font-size:40px;
  font-weight: bold;
  color: #10222B;
}

.navbar-algotext .navbar-nav li > a {
  font-size: 18px;
}
.navbar-algotext .navbar-nav li > a:hover,
.navbar-algotext .navbar-nav li > a:focus {
  color: #1022B;
  border-bottom: 2px solid #1022B;
}
.navbar-algotext .navbar-header .navbar-toggle {
  margin-top: 32px;
  margin-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .navbar-algotext .navbar-brand,
  .navbar-algotext .navbar-nav li > a {
    height: 99px;
    line-height: 70px;
    margin: auto 10px;
  }
  .container{
    width : 950px;
  }
  .form {
     margin: 0 auto;
     width: 50%;
  }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #10222B;
}

.mainpage {
  text-align: center;
  color: #6A2D8F;
  font-family: 'Noto Sans KR', sans-serif;
}

#sidebar{
  padding-top: 10%;
  background-color: #fff;
  font-size: .95em;
  font-color : #000;
  height : 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

#section{
  background-color: #fff;
  height : 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

#article{
  font-size: 1.5em;
  margin : 3%;
  text-align-last: inherit;
  padding-left : 10%;

  font-family: 'Noto Sans KR', sans-serif;
}

#medias{
  font-size: 1.95em;
  margin : 3%;
  padding-left : 10%;
  
}

#pageb{
  font-family: 'Noto Sans KR', sans-serif;
}

img{
  max-width : 100%;
  height : auto;
}
